#Keyword                  Input(default)           Type
#System parameters
suppress                  0#(0)                   bool
display                   0#(0)                   bool
implicit                  0#(0)                   bool
godunov                   1#(0)                   bool
x_prd                     1#(0)                   bool
y_prd                     1#(0)                   bool
z_prd                     1#(0)                   bool
has_exact                 0#(0)                   bool
recover_dirname           sim_configs/hit25.out#                      string
chk_num                   80#(0)                   int
chk_step                  6480#(0)                   int
sys_size                  128 128 128#({96,96,96})    int
frames                    100#(96)                  int
stop_short                -1#(96)                  int
chkpt_freq                10#(1)                   int
omp_num_thr               1#(1)                   int
debug_flag                0#(0)                   int
debug_obj_id              -1#(-1)                   int
obj_body                  -1#(-1)                  int
data_fmt                  0#(0)                   int
out_flag                  32#(135)                 int
output_dim                2#0/1/2(2)              int
output_ind                32#(48)                  int
dump_code                 110#(3)                   unsigned int
ntracers                  0#(1000)                int
num_iters                 5#(5)                   int
dt                        0.000997631#(1.)                  double
T                         8#(1.)                  double
current_time              6.46465#(0.)                  double
xyz_bounds                0 6.28319 0 6.28319 0 6.28319
                          #(0 1 0 1 0 1)         doubles
# SIMULATION TYPE CONFIGURATIONS
sim_type                  objects#("ftest")           string
# FLUID PROPERTIES
fmu                       0.005428#(0.002)               double
fdt_pad                   0.5#(0.5)                 double
turb_iso_enable           0#(0)                   bool
hit_cold_start_enable     0#(0)                   bool
hit_keep_forcing_after_insert 0#(1)               bool
hit_write_background_chk  0#(1)                   bool
turb_mode_count           64#(64)                  int
turb_kf2                  3#(3)                   int
turb_seed                 13579#(13579)               int
turb_kd                   50#(50.)                 double
turb_re_lam               84#(84.)                 double
hit_pre_iter_steps        100#(0)                   int
hit_background_chk_num    49#(0)                   int
hit_cold_start_time       0#(0.)                  double
# SOLID PROPERTIES
n_obj                     25#(0)                   int
nlayers                   4#(8)                   int
wt_n                      1#(2.5)                 double
ex_visc_mult              1#(1.)                  double
ev_trans_mult             0#(1.)                  double
sdt_pad                   0.25#(0.25)                double
dt_ex_pad                 0.8#(0.8)                 double
gravity                   0#(10.)                 double
# SOLIDS CONFIGURATIONS
object_list               0 1
object_list               1 1
object_list               2 1
object_list               3 1
object_list               4 1
object_list               5 1
object_list               6 1
object_list               7 1
object_list               8 1
object_list               9 1
object_list               10 1
object_list               11 1
object_list               12 1
object_list               13 1
object_list               14 1
object_list               15 1
object_list               16 1
object_list               17 1
object_list               18 1
object_list               19 1
object_list               20 1
object_list               21 1
object_list               22 1
object_list               23 1
object_list               24 1
basic_specs               0 0.9 0.9 0.9 0.5 
basic_specs               1 2.02 0.9 0.9 0.5 
basic_specs               2 3.14 0.9 0.9 0.5 
basic_specs               3 4.26 0.9 0.9 0.5 
basic_specs               4 5.38 0.9 0.9 0.5 
basic_specs               5 0.9 2.02 0.9 0.5 
basic_specs               6 2.02 2.02 0.9 0.5 
basic_specs               7 3.14 2.02 0.9 0.5 
basic_specs               8 4.26 2.02 0.9 0.5 
basic_specs               9 5.38 2.02 0.9 0.5 
basic_specs               10 0.9 3.14 0.9 0.5 
basic_specs               11 2.02 3.14 0.9 0.5 
basic_specs               12 3.14 3.14 0.9 0.5 
basic_specs               13 4.26 3.14 0.9 0.5 
basic_specs               14 5.38 3.14 0.9 0.5 
basic_specs               15 0.9 4.26 0.9 0.5 
basic_specs               16 2.02 4.26 0.9 0.5 
basic_specs               17 3.14 4.26 0.9 0.5 
basic_specs               18 4.26 4.26 0.9 0.5 
basic_specs               19 5.38 4.26 0.9 0.5 
basic_specs               20 0.9 5.38 0.9 0.5 
basic_specs               21 2.02 5.38 0.9 0.5 
basic_specs               22 3.14 5.38 0.9 0.5 
basic_specs               23 4.26 5.38 0.9 0.5 
basic_specs               24 5.38 5.38 0.9 0.5 
object_is_fixed           0 0
object_is_fixed           1 0
object_is_fixed           2 0
object_is_fixed           3 0
object_is_fixed           4 0
object_is_fixed           5 0
object_is_fixed           6 0
object_is_fixed           7 0
object_is_fixed           8 0
object_is_fixed           9 0
object_is_fixed           10 0
object_is_fixed           11 0
object_is_fixed           12 0
object_is_fixed           13 0
object_is_fixed           14 0
object_is_fixed           15 0
object_is_fixed           16 0
object_is_fixed           17 0
object_is_fixed           18 0
object_is_fixed           19 0
object_is_fixed           20 0
object_is_fixed           21 0
object_is_fixed           22 0
object_is_fixed           23 0
object_is_fixed           24 0
extra_specs               0 0 1 0 0 0 0 0 0 0 0 
extra_specs               1 0 1 0 0 0 0 0 0 0 0 
extra_specs               2 0 1 0 0 0 0 0 0 0 0 
extra_specs               3 0 1 0 0 0 0 0 0 0 0 
extra_specs               4 0 1 0 0 0 0 0 0 0 0 
extra_specs               5 0 1 0 0 0 0 0 0 0 0 
extra_specs               6 0 1 0 0 0 0 0 0 0 0 
extra_specs               7 0 1 0 0 0 0 0 0 0 0 
extra_specs               8 0 1 0 0 0 0 0 0 0 0 
extra_specs               9 0 1 0 0 0 0 0 0 0 0 
extra_specs               10 0 1 0 0 0 0 0 0 0 0 
extra_specs               11 0 1 0 0 0 0 0 0 0 0 
extra_specs               12 0 1 0 0 0 0 0 0 0 0 
extra_specs               13 0 1 0 0 0 0 0 0 0 0 
extra_specs               14 0 1 0 0 0 0 0 0 0 0 
extra_specs               15 0 1 0 0 0 0 0 0 0 0 
extra_specs               16 0 1 0 0 0 0 0 0 0 0 
extra_specs               17 0 1 0 0 0 0 0 0 0 0 
extra_specs               18 0 1 0 0 0 0 0 0 0 0 
extra_specs               19 0 1 0 0 0 0 0 0 0 0 
extra_specs               20 0 1 0 0 0 0 0 0 0 0 
extra_specs               21 0 1 0 0 0 0 0 0 0 0 
extra_specs               22 0 1 0 0 0 0 0 0 0 0 
extra_specs               23 0 1 0 0 0 0 0 0 0 0 
extra_specs               24 0 1 0 0 0 0 0 0 0 0 
srho                      0 1
srho                      1 1
srho                      2 1
srho                      3 1
srho                      4 1
srho                      5 1
srho                      6 1
srho                      7 1
srho                      8 1
srho                      9 1
srho                      10 1
srho                      11 1
srho                      12 1
srho                      13 1
srho                      14 1
srho                      15 1
srho                      16 1
srho                      17 1
srho                      18 1
srho                      19 1
srho                      20 1
srho                      21 1
srho                      22 1
srho                      23 1
srho                      24 1
shear_mod                 0 10
shear_mod                 1 10
shear_mod                 2 10
shear_mod                 3 10
shear_mod                 4 10
shear_mod                 5 10
shear_mod                 6 10
shear_mod                 7 10
shear_mod                 8 10
shear_mod                 9 10
shear_mod                 10 10
shear_mod                 11 10
shear_mod                 12 10
shear_mod                 13 10
shear_mod                 14 10
shear_mod                 15 10
shear_mod                 16 10
shear_mod                 17 10
shear_mod                 18 10
shear_mod                 19 10
shear_mod                 20 10
shear_mod                 21 10
shear_mod                 22 10
shear_mod                 23 10
shear_mod                 24 10
vel_prof_num              0#(1)                   int
# DOMAIN BOUNDARY CONDITIONS
bc_xl                     0 0 0 0 0 0
bc_xh                     0 0 0 0 0 0
bc_yl                     0 0 0 0 0 0
bc_yh                     0 0 0 0 0 0
bc_zl                     0 0 0 0 0 0
bc_zh                     0 0 0 0 0 0
# WALL BOUNDARIES
walls                     0 0 0 0 0 0
wall_pos                  0 1 0 1 0 1
wall_dist                 0.0490874
